{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 
{% block body_class %}template-homepage{% endblock %} 
{% block extra_css %} 
{% endblock extra_css %} 
{% block content %}
<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" style="margin-top: -50px">
    <div class="section-title" data-aos="fade-up">
      <h2>KBC <strong>Chairman Deacon&apos;s Board</strong></h2>
      {{ page.intro|richtext }}
    </div>

    <div class="row" style="margin-top: -50px">
       {% image self.profile_photo original as img %}
       <section id="about-us" class="about-us">
         <div class="container" data-aos="fade-up">
           <div class="row content">
             <div class="col-lg-3" data-aos="fade-right">
               <img src="{{ img.url }}" class="img-fluid" alt="" width="300px" style="border-radius: 10px;">
             </div>
             <div class="col-lg-9 pt-4 pt-lg-0" data-aos="fade-left">
               {{ self.side_story|richtext }}
             </div>
             <div class="col-lg-12" style="margin-top: 15px;">
               {{self.more_story|richtext}}
             </div>
           </div>
   
         </div>
       </section>
   </div>
 </section><!-- End Our Team Section -->

{% endblock %}