{% extends "base.html" %} 
{% load static wagtailcore_tags embed_video_tags wagtailimages_tags wagtailembeds_tags %} 
{% block body_class %}template-homepage{% endblock %} 
{% block extra_css %} 
<style>
  .clickable{
    color: #fff; 
    background: #006697; 
    border: none; 
    height: 40px; 
    border-radius: 2px; 
    width: 200px;
  }
  .clickable a{
    color: #fff; 
    text-decoration: none;
    font-size: 18px;
  }
  .clickable:hover{
    background: #800080; 
    color: #fff; 
    font-weight: bold;
  }
</style>
{% endblock extra_css %} 
{% block content %} 
  <!-- ======= Hero Section ======= -->
  <section id="hero" style="margin-top: -10px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">     
        {% for item in page.gallery_images.all %}
          {% image item.image original as slide_image %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}" style="background-image: url('{{slide_image.url}}');">
              <div class="carousel-container">
                <div class="carousel-content animate__animated animate__fadeInUp">
                  <h2 style="text-align: center; ">{{ item.image_title }}</h2>
                  <p>
                    {{ item.caption }}
                  </p>
                  <div class="text-center">                                                     
                    <a href="" class="btn-get-started">Read More</a>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->
<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-right">
        <h2>Watch Our Recent Stream</h2>
        <div style="width:full">
          <!-- embed your video here -->
          {% video self.video.url as my_video %}
            {% video my_video 'small' %}
          {% endvideo %}

          <p style="text-align: left; font-weight: bold; padding-x: 4px">Listen to our audio stream</p>
    
          <audio controls>
            <source src="{{ page.featured_media.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
        <h3 style="text-align: center;">Mission Statement</h3> <hr />
        <p style="text-align: center; font-size: 20px;">
          To develop individuals committed to growing in the knowledge of our 
          Lord Jesus Christ and leading others to the same commitment, so that 
          we can establish a biblically guided and growing community.
        </p><br />
        <h2 style="font-size: 24px; text-align: center;">To know Him and make Him known</h2>
        <div class="fst-italic" style="display: flex; flex-direction: row; justify-content: space-between;">
          <button class="clickable"> <a href="/annoucements">Announcements</a></button>
          <button class="clickable"> <a href="/wedding_banns"> Wedding Banns</a></button>
        </div>

        <h2 style="font-size: 24px; text-align: center;">Bible Study Guidelines</h2><hr />
        <div class="fst-italic" style="display: flex; flex-direction: column; justify-content: space-between;">
          <div>
            <button style=" width: auto; margin: 2px;" class="clickable"><a href="{{ self.luganda_bible_study.url}}"><i class="bi bi-cloud-arrow-down-fill"></i>  Luganda Bible Study Guideline</a></button> <br />
            <button style=" width: auto; margin: 2px; margin-top: 10px;" class="clickable"><a href="{{ self.English_bible_study.url }}"><i class="bi bi-cloud-arrow-down-fill"></i> English Bible Study Guideline</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->

  <!-- ======= Minitries Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <h2 style="font-size: 24px; text-align: center;">Church Ministries</h2>
      <div class="row">
          {% for ministry in page.ministries.all %}
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-teal">
                <div class="icon">
                  {% image ministry.image width-200 as img %}
                  <img src="{{ img.url }}" alt="{{ ministry.title }}" style="border-radius: 40px; padding-bottom: 2px">
                </div>
                <h4 style="padding-top: 4px"><a href="{{ ministry.ministry_link }}">{{ ministry.ministry_title }}</a></h4>
                <p>{{ ministry.short_description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </section> 
  <!-- End Minitries Section -->
   <!-- ======= Periodic updates======= -->
   <section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6 " data-aos="fade-right" style="height:350px; overflow-y: scroll;">
          {{ page.pray_with_us|richtext }}
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" style="height:350px; overflow-y: scroll; overflow-x: auto">
          <p style="text-align: center; font-weight: bold; padding-top: 18px">Our Weekly Activities</p><hr/>
          {% comment %} Weekly activities table {% endcomment %}
          <table  class="table table-bordered table-hover">
              {{ page.tabled|safe }}
          </table>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Periodic updates ======= -->

{% endblock  %}
