{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 
{% block body_class %}template-homepage{% endblock %} 
{% block extra_css %} 
{% endblock extra_css %} 
{% block content %} 
  <!-- ======= Hero Section ======= -->
  <section id="hero" style="margin-top: -10px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner" role="listbox">     
        {% for item in page.gallery_images.all %}
          {% image item.image original as slide_image %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}" style="background-image: url('{{slide_image.url}}');">
              <div class="carousel-container">
                <div class="carousel-content animate__animated animate__fadeInUp">
                  <h2 style="text-align: center; ">{{ item.image_title }}</h2>
                  <p>
                    {{ item.caption }}
                  </p>
                  <div class="text-center">                                                     
                    <a href="" class="btn-get-started">Read More</a>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->
<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-right">
        <h2>Watch Our Recent Stream</h2>
        <div style="width:full">
          {% embed page.video_url max_width=1500 %}
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
          <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
        </ul>
        <p class="fst-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->

  <!-- ======= Minitries Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row">
          {% for ministry in page.ministries.all %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-teal">
                <div class="icon">
                  {% image ministry.image width-200 as img %}
                  <img src="{{ img.url }}" alt="{{ ministry.title }}" style="border-radius: 40px; padding-bottom: 2px">
                </div>
                <h4 style="padding-top: 4px"><a href="{{ ministry.ministry_link }}">{{ ministry.ministry_title }}</a></h4>
                <p>{{ ministry.short_description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </section> 
  <!-- End Minitries Section -->
   <!-- ======= Periodic updates======= -->
   <section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6 " data-aos="fade-right" style="height:350px; overflow-y: scroll;">
          {{ page.pray_with_us|richtext }}
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" style="height:350px; overflow-y: scroll; overflow-x: auto">
          <p style="text-align: center; font-weight: bold; padding-top: 18px">Our Weekly Activities</p><hr/>
          {% comment %} Weekly activities table {% endcomment %}
          <table class="table table-bordered table-hover">
              {{ page.tabled }}
          </table>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Periodic updates ======= -->

{% endblock  %}
