{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 
{% block body_class %}template-homepage{% endblock %} 
{% block extra_css %} 
{% endblock extra_css %} 
{% block content %}
<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
   <div class="container">

     <div class="section-title" data-aos="fade-up">
       <h2>KBC <strong>Pastorate</strong></h2>
       {{ page.intro|richtext }}
     </div>

     <div class="row">
      {% for profile in page.profile_image.all %}
        {% image profile.photograph original as img %}
        <section id="about-us" class="about-us">
          <div class="container" data-aos="fade-up">
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-right">
                <img src="{{ img.url }}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                {{ profile.story|richtext }}
              </div>
            </div>
    
          </div>
        </section>
      {% endfor %}
    </div>
  </section><!-- End Our Team Section -->

{% endblock %}