{% extends 'base.html' %}
{% load static bootstrap crispy_forms_tags wagtailcore_tags wagtailimages_tags %} 
{% block extra_css %}
<link href="{% static 'css/hero.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% comment %} Hero Section {% endcomment %}
<section
  style="margin-top: -10px; background-image: url('{% static 'images/prayer.jpg' %}'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); background-blend-mode: overlay; background-repeat: no-repeat;background-size:cover;"
  id="heroArea" class="d-flex flex-column justify-content-end align-items-center">
 <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
   <div class="carousel-item active">
     <div class="carousel-containered">
       <h4 class="animate__animated animate__fadeInDown text-white">Let us know<span> how we can pray with you</span></h4>
       <p class="animate__animated fanimate__adeInUp">{{ hero_image.caption }}</p>
     </div>
   </div>
  </div>
  <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
      <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
    </g>
 </svg>
</section>
  
{% comment %} Contact Section {% endcomment %}
  <section id="contact" class="contact">
    <div class="container">
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <form action="{% pageurl page %}" method="POST" role="form" class="php-email-form">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->
{% endblock content %}
