{% load static %}


 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="/" id="ch-logo" class="logo me-auto me-lg-0">
      <img src="{% static 'images/kbclogo.png' %}" alt="kbc logo" class="">
    </a>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="/" class="active">Home</a></li>

        <li class="dropdown"><a href="#"><span>About Us</span> </a>
          <ul class="">
            <li><a href="about.html">Inception</a></li>
            <li><a href="about.html">Statement of Faith</a></li>
            <li><a href="about.html">Convenant</a></li>
          </ul>
        </li>

        <li class="dropdown"><a href=""><span>Ministries</span> </a>
          <ul class="">
            <li><a href="about.html">Children</a></li>
            <li><a href="about.html">Worship</a></li>
            <li><a href="about.html">Youth</a></li>
            <li><a href="about.html">Adults</a></li>
            <li><a href="about.html">Discipleship</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Leadership</span> </a>
          <ul class="">
            <li><a href="about.html">Elders&apos; Board</a></li>
            <li><a href="about.html">Pastorate</a></li>
            <li><a href="about.html">Staff</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Resources</span> </a>
          <ul class="">
            <li><a href="about.html">Voice of the Shephard</a></li>
            <li><a href="about.html">Media Gallery</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href=""><span>Responses</span> </a>
          <ul class="">
            <li><a href="/prayer-request">Prayer Request</a></li>
            <li><a href="/appointments">Appointment</a></li>
          </ul>
        </li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/give">Give</a></li>
        <li>
          {% if request.user.is_authenticated %}
          <a href="/admin">Admin</a></li>
          {% else %}
          <a href="/admin">Guest</a></li>
          {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links d-flex">
      <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
    </div>

  </div>
</header><!-- End Header -->