{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 
{% block body_class %}template-homepage{% endblock %} 
{% block extra_css %} 
{% endblock extra_css %} 

{% block content %} 
 <!-- ======= Blog Section ======= -->
 <section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        {% for post in sponsored_pages %}
          {% with post=post.specific %}
            <article class="entry">
              <div class="entry-img">
                {% with post.main_image as main_image %}
                  {% if main_image %}
                    {% image main_image original as img %}
                    <img src="{{ img.url }}" alt="" class="img-fluid">  
                  {% endif %}
                {% endwith %}
              </div>            
              <h2 class="entry-title">
                <a href="{% pageurl post %}">{{ post.title }}</a>
              </h2>
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% pageurl post %}">{{ post.author }}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% pageurl post %}"><time datetime="{{ post.date }}">{{post.date}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% pageurl post %}">{{ post.comments }}</a></li>
                </ul>
              </div>
              <div class="entry-content">
                {{ post.body|richtext|truncatewords:20 }}
                <div class="read-more">
                  <a href="{% pageurl post %}">Read More</a>
                </div>
              </div>
            </article>
          {% endwith %}
        {% endfor %}

        {% if sponsored_pages.paginator.num_pages > 1 %}
        <div class="blog-pagination">
          <ul class="justify-content-center">
            {% if sponsored_pages.has_previous %}
              <li class=" pagina"><a href="?page={{ sponsored_pages.previous_page_number }}"><i style="font-weight: black; font-size: 25px; color: #006697; background: none;" class="bi bi-chevron-double-left"></i></a></li>
            {% endif %}
            {% for page_num in sponsored_pages.paginator.page_range %}
                <li class=" pagina {% if page_num == sponsored_pages.number %} active{% endif %}">
                  <a href="?page={{ page_num }}">
                    {{ page_num }}
                  </a>
                </li>
              {% endfor %}
            {% if sponsored_pages.has_next %}
              <li class=" pagina" ><a href="?page={{ sponsored_pages.next_page_number }}"> <i style="font-weight: black; font-size: 25px; color: #006697; background: none;" class="bi bi-chevron-double-right"></i></a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div><!-- End blog entries list -->

      <div style="display: fixed;" class="col-lg-4">

        <div class="sidebar">

          <h3 class="sidebar-title">Search</h3>
          <div class="sidebar-item search-form">
            <form action="">
              <input type="text">
              <button type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div><!-- End sidebar search formn-->

          {% comment %} <h3 class="sidebar-title">Categories</h3>
          <div class="sidebar-item categories">
            <ul>
              <li><a href="#">General <span>(25)</span></a></li>
              <li><a href="#">Lifestyle <span>(12)</span></a></li>
              <li><a href="#">Travel <span>(5)</span></a></li>
              <li><a href="#">Design <span>(22)</span></a></li>
              <li><a href="#">Creative <span>(8)</span></a></li>
              <li><a href="#">Educaion <span>(14)</span></a></li>
            </ul>
          </div><!-- End sidebar categories--> {% endcomment %}

          <h3 class="sidebar-title">Recent Posts</h3>
          <div class="sidebar-item recent-posts">
            {% for post in blogpages %}
            {% with post=post.specific %}
              <div class="post-item clearfix">
                {% with post.main_image as main_image %}
                  {% if main_image %}
                    {% image main_image original as img %}
                    <img src="{{ img.url }}" alt="" class="img-fluid">  
                  {% endif %}
                {% endwith %}
                <h4><a href="blog-single.html">{{ post.title }}</a></h4>
                <time datetime="2020-01-01">{{ post.date }}</time>
              </div>
            {% endwith %}
            {% endfor %}
            

            

          </div><!-- End sidebar recent posts-->

          <h3 class="sidebar-title">Tags</h3>
          <div class="sidebar-item tags">
            <ul>
              <li><a href="#">Christian Living</a></li>
              <li><a href="#">Discipleship</a></li>
              <li><a href="#">Fellowship</a></li>
              <li><a href="#">prayer</a></li>
              <li><a href="#">Conduct</a></li>
              <li><a href="#">Love</a></li>
            </ul>
          </div><!-- End sidebar tags-->

        </div><!-- End sidebar -->

      </div><!-- End blog sidebar -->

    </div>

  </div>
</section><!-- End Blog Section -->

{% endblock %}